@using SubtleOstrich.Web.Controllers
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/css/style.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/css/guiders-1.2.8.css") />
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/css/themes/prettify.css") />
    <link rel='stylesheet' type='text/css' href=@Url.Content("~/Content/css/fullcalendar.css") />
    <script type="text/javascript" src=@Url.Content("~/Content/bootstrap/js/jquery.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/bootstrap/js/guiders-1.2.8.js")></script>
    <script type="text/javascript" src=@Url.Content("~/Content/bootstrap/js/prettify.js")></script>
    <script type='text/javascript' src=@Url.Content("~/Scripts/fullcalendar.min.js")></script>

    <title>CouchJitsu Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
    @*<link href="@Url.Content("~/Content/bootstrap/less/bootstrap.less")" rel="Stylesheet" />*@
    <link href="@Url.Content("~/Content/site.less")" rel="Stylesheet" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.5/angular-strap.js"></script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36860479-2']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</head>
<body ng-app="activity">
    <header>
        <div id="aqua-header">
            <div class="aqua-container">
                <a href="/" class="aqua-well-mini">
                    <h1 class="aqua-slogan">Mat Time</h1>
                    <h2 class="aqua-slogan">A CouchJitsu App</h2>
                </a>
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="aqua-well-mini pull-right">
                        <div class="aqua-user">

                            <span class="aqua-user-name"><a href="@Url.Action("Index", "User")">@User.Identity.Name</a></span>

                            <div class="btn-group">
                                <a href="@Url.Action("Logout", "Authentication")" class="btn btn-small" tabindex="-1">Logout</a>
                            </div>


                        </div>
                        <span class="aqua-avatar">
                            <img src="@((User as CouchPrincipal).Picture)" alt="user" width="50" height="50" />
                        </span>
                    </div>
                }
                else
                {
                    <div class="aqua-well-mini pull-right">
                        <div class="aqua-user">
                            <div class="btn-group">
                                <a href="/authentication/redirect/facebook" id="login" class="btn btn-small pull-right">Sign in with <i class="icon-facebook-sign"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </header>
    <div class="aqua-container">
        <div id="content">@RenderBody()</div>
    </div>
    <footer>
        <div id="footer">
            <div id="aqua-footer">
                <div class="aqua-container">
                    <div class="span1">
                        <a href="https://twitter.com/taylonr" class="btn btn-small">Follow On <i class="icon-twitter-sign"></i></a>
                    </div>
                    <div class="span1 offset5">
                        <a href="mailto:taylonr@gmail.com" class="btn btn-small">Contact Me <i class="icon-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
